<div class="game-card-home" (click)="showVideoGame()">
  <picture class="game-card-home__image">
    <img src="/assets/video-games/{{ videoGame.image_url }}.jpg" alt="">
  </picture>
  <div class="game-card-home__information">
    <div class="game-card-home__information--title">
      <h3>{{ videoGame.title }}</h3>
    </div>
    <div class="game-card-home__information--company">
      <p>{{videoGame.company}}</p>
    </div>
    <div class="game-card-home__information--abstract">
      <p>{{ videoGame.description }}</p>
    </div>
    <div class="game-card-home__information--genres">
      <div *ngFor="let tag of videoGame.tags" class="genre"><span>{{ tag }}</span></div>
    </div>
  </div>
</div>
