<div class="home animate-content">
  <div class="home__hero">
    <div class="home__hero--title">
      <div class="title">
        <h1>Are you ready <br> for this <span>season</span>?</h1>
      </div>
      <div class="buttons">
        <a href="https://www.linkedin.com/in/miguelzabalaf/" target="_blank" class="buttons__button-secondary">
          Contact Me
        </a>
        <button [routerLink]="['/video-games']" class="buttons__button-primary">
          Lets go!
        </button>
      </div>
    </div>
    <div class="home__hero--video-games">
      <div class="games">
        <h2>Most Popular</h2>
        <div class="games__container">
          <div *ngFor="let i of [].constructor(10)" class="games__container--game">
            <app-game-card-home></app-game-card-home>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
