.home {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  &__hero {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("/assets/images/hero-wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &--title {
      position: absolute;
      z-index: 5;
      margin: auto;
      max-width: 750px;
      height: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .title {
        margin-bottom: 15px;
        h1 {
          font-size: 50px;
          color: #fff;
          font-weight: 900;
          text-align: center;
          text-transform: uppercase;
          text-shadow: 0px 2.5px rgba(0, 0, 0, 0.5);
          span {
            color: #d4ffff;
          }
        }
      }
      .buttons {
        min-width: 375px;
        display: flex;
        justify-content: space-between;
        &__button-primary {
          width: 175px;
          border: none;
          background-color: #d4ffff;
          padding: 20px 30px;
          border-radius: 15px;
          outline: none;
          color: #005555;
          font-family: "Montserrat", sans-serif;
          font-size: 18px;
          font-weight: 600;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            filter: brightness(0.9);
          }
          &:active {
            filter: brightness(1.05);
          }
        }
        &__button-secondary {
          width: 175px;
          border: none;
          background-color: rgba(214, 255, 255, 0.35);
          backdrop-filter: blur(2px);
          padding: 20px 30px;
          border-radius: 15px;
          outline: none;
          color: #fff;
          font-family: "Montserrat", sans-serif;
          font-size: 18px;
          font-weight: 600;
          transition: all 0.3s;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            filter: brightness(0.9);
          }
          &:active {
            filter: brightness(1.05);
          }
        }
      }
    }
    &--video-games {
      position: absolute;
      right: 0;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(270deg, #1a1d29 0%, rgba(26, 29, 41, 0) 100%);
      .games {
        height: 100vh;
        width: 500px;
        position: absolute;
        right: 0;
        padding: 85px 25px 25px;
        h2 {
          margin-bottom: 10px;
        }
        &__container {
          height: 85vh;
          overflow: auto;
          padding-right: 15px;
          transition: all 0.5s ease-in-out;
          &::-webkit-scrollbar {
            width: 11px;
          }
          & {
            scrollbar-width: thin;
            scrollbar-color: #1a1d29;
          }
          &::-webkit-scrollbar-track {
            background: #0d0e14;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #2a2d3a;
            border-radius: 6px;
            border: 3px solid #1a1d29;
          }
          &--game {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

//  Mediaquerys

@media screen and(max-width: 1350px) {
  .home {
    &__hero {
      &--video-games {
        background: linear-gradient(
          0deg,
          #1a1d29 0%,
          rgba(26, 29, 41, 0.25) 100%
        );
      }
      &--title {
        max-width: 750px;
        height: 250px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .title {
          h1 {
            font-size: 25px;
          }
        }
        .buttons {
          justify-content: space-evenly;
          &__button-primary {
            width: 125px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 600;
            transition: all 0.3s;
          }
          &__button-secondary {
            width: 125px;
            padding: 15px 15px;
            font-size: 14px;
            font-weight: 600;
            transition: all 0.3s;
            text-align: center;
          }
        }
      }
    }
  }
  .games {
    padding: 0 !important;
    width: 100% !important;
    height: auto !important;
    bottom: 0 !important;
    h2 {
      margin-left: 15px;
      font-size: 18px;
    }
    &__container {
      display: flex;
      height: auto !important;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
