<div class="game-card">
  <picture class="game-card__image">
    <img src="./../../../assets/images/hero-wallpaper.jpg" alt="">
  </picture>
  <div class="game-card__information">
    <div class="game-card__information--title">
      <h3>Spider-man - The Best Game</h3>
    </div>
    <div class="game-card__information--company">
      <p>SONY</p>
    </div>
    <div class="game-card__information--abstract">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sunt nihil aliquid sed ratione laborum nemo natus provident! At eaque fugiat tenetur quaerat a nostrum dolores perspiciatis explicabo iste ad.</p>
    </div>
    <div class="game-card__information--genres">
      <div class="genre"><span>Action</span></div>
      <div class="genre"><span>RPG</span></div>
      <div class="genre"><span>Fantasy</span></div>
    </div>
  </div>
</div>
