.nav {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: #1a1d29;
  z-index: 100;
  transition: all 1s;
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    &--menu-toggle {
      margin-right: 10px;
      height: 40px;
      width: 40px;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 7.5px 0;
      border-radius: 50%;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.025);
      }
      &:hover svg {
        color: #d4ffff;
      }
      &:active {
        background-color: rgba(255, 255, 255, 0.1);
      }
      & > * {
        border: 0.5px solid #dddd;
        width: 55%;
      }
      &:hover > * {
        border: 1px solid #d4ffff;
      }
    }
    &--logo {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      flex-shrink: 0;
      transition: all 0.5s;
      img {
        width: 100%;
      }
    }
    &--menu {
      width: auto;
      .active {
        transition: all 0.5s;
        color: #d4ffff;
      }
      ul {
        height: 100%;
        display: flex;
        align-items: center;
        li {
          list-style: none;
          margin-right: 10px;
          cursor: pointer;
          a {
            padding: 5px 10px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
    &--search {
      position: absolute;
      right: 60px;
      display: flex;
      align-items: center;
      .search {
        width: auto;
        overflow: hidden;
        transition: all 0.3s;
        input {
          width: 0px;
          // border: 1px solid rgba(221, 221, 221, 0.5);
          border: none;
          outline: none;
          background-color: #1a1d29;
          font-family: "Montserrat", sans-serif;
          filter: brightness(0.5);
          height: 40px;
          border-radius: 40px;
          margin-right: 10px;
          padding: 0;
          color: #fff;
          transition: all 0.5s;
          opacity: 0;
        }
      }
      .icon {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
        position: relative;
        cursor: pointer;
        & > * {
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          margin-top: auto;
          margin-bottom: auto;
          top: 0;
          bottom: 0;
        }
        & svg:nth-child(2) {
          font-size: 25px;
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.025);
        }
        &:hover svg {
          color: #d4ffff;
        }
        &:active {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
    &--info {
      position: absolute;
      right: 10px;
      .image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        border: 2px solid rgba(255, 255, 255, 0.15);
        transition: all 0.3s;
        &:active {
          opacity: 0.5;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.5s;
          cursor: pointer;
        }
      }
    }
  }
}

// SearchActivated
.searchActivated {
  width: 190px !important;
  opacity: 1 !important;
  padding: 0 10px !important;
}

.searchButtonIconOn {
  background-color: rgba(255, 255, 255, 0.025) !important;
}
.searchIconOn {
  color: #d4ffff !important;
}

.iconShow {
  transition: all 0.3s;
  transform: scale(1);
}

.iconHidden {
  transition: all 0.3s;
  transform: scale(0);
}

.navbar-transparent {
  background-color: #1a1d2900;
}
.search-transparent {
  background-color: rgba(255, 255, 255, 0.15) !important;
  color: white !important;
}

// MQ

@media screen and (max-width: 768px) {
  .nav__container--menu-toggle {
    display: flex;
  }
  .nav__container--menu {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .hideLogo {
    opacity: 0 !important;
  }
  .searchActivated {
    width: 50vw !important;
  }
}
