<nav class="nav" [ngClass]="{'navbar-transparent': activeRoute === 'video-game'}">
  <div class="nav__container container">
    <div  (click)="menuToogle()" class="nav__container--menu-toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <a [routerLink]="['']" class="nav__container--logo"  [ngClass]="{'hideLogo': searchIsActivated}">
      <img src="./../../../assets/logo.svg" alt="Logo">
    </a>
    <div class="nav__container--menu">
      <ul>
        <li routerLinkActive="nav__container--menu active" [routerLinkActiveOptions]="{exact:true}"  *ngFor="let option of menuOptions">
          <a [routerLink]="[option.path]" >{{ option.name }}</a>
        </li>
      </ul>
    </div>
    <div class="nav__container--search">

      <!-- Search -->
      <div class="search">
        <input [ngClass]="{'searchActivated': searchIsActivated, 'search-transparent': activeRoute === 'video-game'}" type="text" name="" id="">
      </div>
    <!-- Search icon -->
    <div (click)="searchToggle()" class="icon"  [ngClass]="{'searchButtonIconOn': searchIsActivated}">
      <svg [ngClass]="{'searchIconOn': searchIsActivated, 'iconShow': !searchIsActivated, 'iconHidden': searchIsActivated}" width="1em" height="1em" viewBox="0 0 16 16"  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
      </svg>
      <!--  -->
      <svg [ngClass]="{'iconShow': searchIsActivated, 'iconHidden': !searchIsActivated}" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
    <!-- Search icon -->

    </div>
    <div class="nav__container--info">
      <div (click)="userDeveloperInfoToggle()" class="image">
        <img src="../../../../assets/images/miguelzabalaf.jpeg" alt="">
      </div>
    </div>
  </div>
</nav>

<app-menu-toggle
  [options]="menuOptions"
  [isMenuToggleActivated]="menuToggleIsActivated"
  (menuToogleChange)="menuStateChanged($event)"
></app-menu-toggle>

<app-user-developer-info
  [isUserDeveloperInfoToggleActivated]="userDeveloperInfoActivated"
  (userDeveloperInfoToggleChange)="userDeveloperInfoChanged($event)"
></app-user-developer-info>
