<div class="video-games animate-content">

  <div class="video-games__hero">
    <div class="video-games__hero--title container">
      <div class="title">
        <h1>Valorant</h1>
        <small>Riot Games</small>
      </div>
      <div class="call-to-action">
        <button class="mz-btn-secondary">See more</button>
      </div>
    </div>
  </div>

  <section class="video-games__top-games">
    <div class="video-games__top-games--title container">
      <h2 class="subtitle">Top Games</h2>
      <img class="icon" src="/assets/icons/icon-top.svg" alt="">
    </div>
    <div class="video-games__top-games--games container-scroll">
      <div *ngFor="let videoGame of videoGames" class="game-container">
        <div class="game">
          <app-game-card [videoGame]="videoGame"></app-game-card>
        </div>
      </div>
    </div>
  </section>


</div>
