.video-games {
  &__hero {
    height: 60vh;
    background-image: url("/assets/images/video-games-wallpaper.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    animation: AnimationImageLoading ease-in-out alternate infinite 0.75s;
    position: relative;
    &--title {
      color: #fff;
      position: absolute;
      height: 105px;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 25px 10px;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      flex-shrink: 0;
      justify-content: space-between;
      align-items: center;
      .title {
        width: 70%;
        h1 {
          display: block;
          flex-shrink: 0;
          text-shadow: 0px 2.5px rgba(0, 0, 0, 0.5);
          //
          max-width: 90%;
          position: relative;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          text-align: start;
          transition: all 0.3s;
        }
        small {
          opacity: 0.5;
        }
      }
      .call-to-action {
      }
    }
  }
  &__top-games {
    margin-top: 25px;
    &--title {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    &--games {
      border-radius: 15px;
      display: flex;
      overflow: auto;
      padding: 10px;
      max-width: 1200px;
      margin: auto;
      .game-container {
        margin-right: 15px;
        .game {
          border-radius: 15px;
          width: 300px;
          height: 150px;
          flex-shrink: 0;
          background-color: rgb(65, 65, 65);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .video-games {
    &__hero {
      &--title {
        height: 85px;
        padding: 25px 10px 0px 10px;
        .title {
          width: 60%;
          h1 {
            font-size: 20px;
          }
          small {
            font-size: 12px;
          }
        }
        .call-to-action {
        }
      }
    }
  }
}
