<div class="video-games">
  <div class="video-games__hero">
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
<h2>HOLA <br> HOLAAA</h2>
  </div>

</div>
