<div class="video-games animate-content">

  <div class="video-games__hero">
    <div class="video-games__hero--title container">
      <div class="title">
        <h1>Valorant</h1>
        <small>Riot Games</small>
      </div>
      <div class="call-to-action">
        <button (click)="showVideoGameHero()" class="mz-btn-secondary">See more</button>
      </div>
    </div>
  </div>

  <section class="video-games__top-games">
    <div class="video-games__top-games--title container">
      <img class="icon" src="/assets/icons/icon-top.svg" alt="">
      <h2 class="subtitle">Top Games</h2>
    </div>
    <div class="video-games__top-games--games container-scroll">
      <div *ngFor="let videoGame of videoGames" class="game-container">
        <div class="game">
          <app-game-card [videoGame]="videoGame"></app-game-card>
        </div>
      </div>
    </div>
  </section>

  <section class="video-games__news">
    <div class="video-games__top-games--title container">
      <img class="icon" src="/assets/icons/news.svg" alt="">
      <h2 class="subtitle">News</h2>
    </div>
    <div class="video-games__news--container">
      <div class="new">
        <img src="/assets/images/video-games-notice-1.svg" alt="">
      </div>
      <div class="new">
        <img src="/assets/images/video-games-notice-2.svg" alt="">
      </div>
      <div class="new">
        <img src="/assets/images/video-games-notice-3.svg" alt="">
      </div>
    </div>
  </section>


</div>
